* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100vw;
  height: 100vh;
  letter-spacing: 1px;
  background-color: azure
}

/* fonts
font-family: 'Edu SA Beginner', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
font-family: 'Space Grotesk', sans-serif; 
*/
  @import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Roboto+Condensed:ital,wght@0,400;1,700&family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab&family=Space+Grotesk:wght@600&display=swap');

  /* NavBar */
.main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;

}
h1, h2,
h3, h4,
h5, label {
  text-transform: capitalize;
}
h1 {
  font-size: 2rem;
}
.nav-bar {
  display: flex;
  position: fixed;
  margin-top: 0.2px;
  left: 0;
  top: 0;
  justify-content: space-between;
  width: 100vw;
  height: 60px;
  background-color: #011936;
  min-width: 300px;
  z-index: 10;
}
.brand-name {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 32px;
  text-decoration: none;
  margin: 10px;
  color: #FFBF00;
}
.brand-icon {
  margin: -3px 0;
}
.ham {
  font-size: 32px;
  color: white;
  margin: auto 20px;
  visibility: hidden;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}
.link {
  text-decoration: none;
  margin: auto 20px;
  color: #fff;
  padding: 2px;
}
.link:hover{
  border-bottom: 2px solid green;
  border-radius: 2px;
}
.icon {
  font-size: 22px;
  margin: -5px 0;
}

/* Register Page */

.form-container {
  display: grid;
  width: 100%;
  align-items: center;
  min-width: 375px;
  margin: auto;
}

.form {
  max-width: 400px;
  margin: 20px auto;
  padding: 25px;
  border: 1px solid black;
  background-color: grey;
  border-radius: 5px;
}
.form .brand-name {
  display: block;
  text-align: center;
}
.form h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: #fff;
}
.label {
  display: block;
  color: white;
  font-family: 'Edu SA Beginner', cursive;
}
.input {
  width: 100%;
  height: 35px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  margin: 20px auto;
  padding-left: 5px;
}
.form .btn {
  height: 28px;
  min-width: 300px;
  border-radius: 5px;
  margin-top: 20px auto;

}

.form .member {
  text-align: center;
  margin-top: 20px;
}
.option {
  color: rgba(196, 178, 20, 0.877);
}
.option:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .nav-links {
    width: 10px;
    height: 200px;
   flex-direction: column;
   position: fixed;
   top: 80px;
   right: 10px;
   background-color: #011936;
   visibility: hidden;
   transition: 100ms;
  }
  .link {
    margin: auto;
  }
  .ham {
    visibility: visible;
  }
  .nav-visible {
    visibility: visible;
    width: 200px;
  }
  
}

/* Not Found Page */

.page-404 {
  display: flex;
  width: 100vw;
  height: calc(100vh - 60px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found {
  width: 300px;
  height: 300px;
}
.tag {
  color: #FFBF00;
  font-size: 20px;
}
.back-home {
  text-decoration-color: green;
  color: rgba(109, 73, 39, 0.767);
}
.back-home:active {
  text-decoration-color: red;

}

/* Homepage */

.product-container {
  max-width: 1200px;
  width: calc(100vw - 10vw);
  margin: 70px  auto;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: azure;
  gap: 10px;
  min-width: 375px;
}

.products {
  width: 300px;
  height: 300px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, .10); 
}
.product-container::after {
  content: ' ';
  width: 300px;
}
.products img {
  display: block;
  max-width: 280px;
  height: 150px;
  margin: 0 auto;
}
.products button {
  display: block;
  width: 100px;
  height: 25px;
  margin: 10px auto 10px;
  padding: 3px;
  background-color: #FFBF00;
  color: white;
  border: none;
  border-radius: 3px;
}
.products h5 {
  text-align: center;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
}
.products:hover {
  cursor: pointer;
}
.products:hover img {
  cursor: pointer;
  height: 155px;
}
.description {
  font-size: 12px;
  text-align: center;
}


/* password hide/show */
.hide-show {
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 12px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}

/* Cart */

.cart {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cart-container {
  width: 100%;
  background-color: azure;
  margin: 60px auto;
  padding: 20px;
  min-width: 375px;
}
.cart-container h1 {
  width: calc(0.8, 1.8vw, 1.2rem);
}

.cart-products {
  width: 90%;
  height: clamp(220px, 40vw, 300px);
  min-width: 300px;
  margin: 20px auto;
  padding: 2px;
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  justify-content: space-around;
}


.part-1 {
  margin: auto -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.part-2 {
  margin: 50px -100px;
  width: 300px;
  
}
.part-2 h4 {
  margin: 10px auto;
  font-size: clamp(0.8rem, 1.8vw, 1.5rem);
}
.part-2 h5 {
  margin: 10px auto;
  font-size: clamp(0.5rem, 1.8vw, 1rem);
}
.part-2 button {
  border: none;
  border-radius: 5px;
  background-color: #FFBF00;
  padding: 5px;
  color: white;
}

.cart-products img {
  height: 200px;
  margin-bottom: 20px;
}
.cart-icon {
  color:  green;
  z-index: -100;
}
.item-qty {
  display: inline-block;
}

.click {
  transform: translatey(10%);
}

@media (max-width: 992px) {
  .cart-products {
    width: 90vw;
  }
  .part-2 {
    margin: 50px -100px;
    width: 200px;
    
  }
  .cart-products img {
    width: clamp(100px, 20vw, 150px);
    height: auto;
  }

}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  height: 50px;
}
.page-num {
  display: inline-block;
  transform: translatey(-2px);
  cursor: pointer;
  margin: 0 10px;
  color: #338bf7;
  text-decoration: none;
}
.page-col {
  color: red;
}
.disabled {
  visibility: hidden;
}
.arrow:hover {
  cursor: pointer;
}

/* Loading */

.lds-ring {
  width: 80px;
  height: 80px;
  margin: 350px auto;
  z-index: -2;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #1c56ad;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1c56ad transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* footer */

.footer {
  width: 100vw;
  min-width: 300px;
  height: 60px;
  background-color: rgb(25, 25, 27);
  margin-top: auto;
  padding: 20px;
}
.footer-text {
  color: #fff;
  font-size: 10px;
  text-align: center;
}
.page {
  display: flex;
  flex-direction: column;
}


/* DetailPage */

.detailPage {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
  max-width: 1200px;
}

.slides {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.detail {
  width: 100%;
  min-width: 300px;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.product-img {
  width: 100%;
  min-width: 300px;
  margin-top: 100px;
  margin-left: 20px;
}

.rating {
  width: 50px;
  height: 20px;
  border-radius: 2px;
  padding-left: 3px;
  color: white;
  margin-top: 10px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.detail p {
  margin-top: 10px;
}

.detail-price {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
}
.discount {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  color: green;
  font-weight: 400;
}
.add-cart-detail {
  display: flex;
  background-color: #FFBF00;
  width: 90%;
  height: 50px;
  font-size: 24px;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  margin: 200px auto;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992px) {
  .detailPage {
    flex-direction: column;
  }
  .slides {
    height: 300px;
  }
  .product-img {
    margin: 70px auto 20px;
  }
  .detail {
    margin-top: 20px;
    margin-left: 20px;
    
  }
  .descrip {
    margin-right: 20px;
  }
  .add-cart-detail {
    margin: 100px 0;
  }
}


